# The number of milliseconds of each tick
tickTime=2000

# The number of ticks that the initial
# synchronization phase can take
initLimit=10

# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5

# the directory where the snapshot is stored.
dataDir=${ DATA_DIRECTORY }

# the port at which the clients will connect
clientPort=2181
maxClientCnxns=0

# ZooKeeper auto purge feature retains the autopurge.snapRetainCount
# most recent snapshots and the corresponding transaction logs in the dataDir
# and dataLogDir respectively and deletes the rest. Defaults to 3. Minimum value is 3.
autopurge.snapRetainCount=20

# The time interval in hours for which the purge task has to be triggered.
# Set to a positive integer (1 and above) to enable the auto purging. Defaults to 0.
autopurge.purgeInterval=1

# servers
server.${ INDEX_ZK_NODE_ONE }=${ ZK_HOSTNAME_ONE }:2888:3888
server.${ INDEX_ZK_NODE_TWO }=${ ZK_HOSTNAME_TWO }:2888:3888
server.${ INDEX_ZK_NODE_THREE }=${ ZK_HOSTNAME_THREE }:2888:3888
